{% extends 'base.html' %}
{% load static %}

{% block tittle %}
About
{% endblock %}

{% block content %}
<!-- About Us Section -->
<section id="about" class="about ">
  <div class="container1">
    <!-- Header Section -->
    <div class="about-content1 text-center text-white">
      <h1>About Us</h1>
      <p>Home / <span>About</span></p>
    </div>
    <!-- Content Section -->
    <div class="about-content2 align-items-center">
      <!-- Image Column -->
      <div class="about1">
        <img src="../../static/images/carousel/carousel-3.jpg" alt="About Image" class="img-fluid rounded shadow">
      </div>
      <!-- Text Column -->
      <div class="about2">
        <h1 class="mb-4">Our Mission and Vision</h1>
        <p>Our mission is to empower farmers with modern tools and knowledge, conserve natural resources, and ensure everyone has access to fresh and nutritious food.</p>
          <p>Our vision is to revolutionize agriculture in our region, making it more inclusive, innovative, and environmentally friendly.</p>
          <p>At GreenHarvest Agriculture, we are dedicated to promoting sustainable farming practices and providing quality produce straight from the farm to your table.</p>
          <p>To date, we’ve trained over 100 farmers in sustainable practices and supplied over 10 tons of fresh produce to local communities</p>
      </div>
    </div>
      <!-- Content Section -->
    <div class="about-content2 align-items-center">

      <!-- Text Column -->
      <div class="about2">
        <h1 class="mb-4">Background and Our Focus</h1>
        <p>Founded in 2020, GreenHarvest began as a small family farm. Over the years, we’ve grown into a community-driven initiative supporting local farmers and sustainable agriculture practices.</p>
          <p>Our focus includes organic farming, crop diversification, and educating smallholder farmers on eco-friendly methods.</p>
          <p>We believe in leaving the earth better than we found it. By adopting practices like crop rotation, natural pest control, and water conservation, we ensure that our farming is both productive and sustainable.</p>
      </div>
        <!-- Image Column -->
      <div class="about1">
        <img src="../../static/images/carousel/carousel-1.jpg" alt="About Image" class="img-fluid rounded shadow">
      </div>
    </div>
  </div>
</section>


{% endblock %}
